:root {
  --bg-color: #1d1d1d;
  --text-color: #e0e0e0;
  --accent-color: #646cff;
  --button-bg: #121212;
  --button-hover: #333333;
  --panel-color: #282828;
  --red-color: #D32F2F;
  --red-hover-color: #f14545;
  --red-shadow-color: #7c1111;
  --divider-color: #333;
  --mouse-icon-bg: #3a3a3a;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  text-align: center;
}

main {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  color: var(--text-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--accent-color);
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  color: var(--button-hover);
  border: 1px solid transparent;
  cursor: default;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Left div, canvas, right div */
  align-items: center;
  justify-items: center;
  gap: 50px;
}

.canvas-toolbar {
  display: grid;
  height: 50px;
  grid-template-columns: 1fr 1fr;
  gap: 10px; 
}

.canvas-toolbar-left {
  text-align: left;
  height: 100%;
  gap: 5px; 
}

.canvas-toolbar-right {
  text-align: right;
  gap: 5px; 
}

#canvas-floors{
  position: absolute;
  bottom: 50%;
  right: 0;
  transform: translate(0, +50%);
  display: flex;
  flex-direction: column;
  z-index: 200;
  align-items: center;
}

.side-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.game-iframe {
  border: 2px solid var(--text-color);
  display: flex;
}

.switch-mode-button {
  background-color: var(--red-color);
  border: 0px;
  box-shadow: 0px 9px var(--red-shadow-color);
  font-size: 125%;
  height: 12%;
  margin-bottom: 2rem;
}

.switch-mode-button:hover {
  background-color: var(--red-hover-color);
  border: 0px;
}

.switch-mode-button:active {
  background-color: var(--red-hover-color);
  border: 0px;
  box-shadow: 0px 0px var(--red-shadow-color);
  transform: translateY(9px);
}

.play-icon {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid var(--text-color);
  cursor: pointer;
  margin: auto;
}

.pause-icon {
  width: 36px;
  height: 36px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.pause-icon::before,
.pause-icon::after {
  content: "";
  width: 10px;
  height: 100%;
  background-color: var(--text-color);
  border-radius: 2px;
}

.playtest-toolbar {
  text-align: left;
  height: 100%;
  gap: 5px; 
}

.tool-button {
  background-color: var(--button-bg);
}

.tool-button.active {
  background-color: var(--accent-color);
}

.floor-button {
  background-color: var(--button-bg);
}

.floor-button.active {
  background-color: var(--accent-color);

}

.settings-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 10px;
  max-width: 100%; /* prevents overflow */
}

.settings-container label {
  grid-column: span 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* or allow wrapping: white-space: normal; */
}

.settings-container input[type="range"] {
  margin: 10px;
}

.settings-container input[type="number"] {
  width: 50px;
  margin: 10px;
}

.exports-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.export-button {
  padding: 1rem;
  flex: 1;
}
